<div class="container-fluid mt-5">
  <div class="row">
    <form [formGroup]="formGroup" (ngSubmit)="postPizza()" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">

      <div class="form-group">
        <label>Type</label>
        <select name="type" formControlName="type" class="form-control" (ngModelChange)="onTypeChange()">
          <option [value]="type" *ngFor="let type of receivedAllTypes">{{ type }}</option>
        </select>
        <small class="form-text text-danger"
          *ngIf="!formGroup.controls['type'].valid && formGroup.controls['type'].touched">
          * Selecting a pizza type is required
        </small>
      </div>

      <div class="form-group mt-3">
        <label>Name</label>
        <input class="form-control" type="text" formControlName="name">
        <small class="form-text text-danger"
          *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">Please
          enter the name of the pizza. Max length is {{nameMaxLength}} symbols.</small>
      </div>

      <div class="form-group mt-3">
        <label>Image URL</label>
        <input class="form-control" type="text" formControlName="imageUrl">
        <small class="form-text text-danger"
          *ngIf="!formGroup.controls['imageUrl'].valid && formGroup.controls['imageUrl'].touched">
          Please enter the image url of the pizza.</small>
      </div>

      <div class="form-group" *ngIf="formGroup.controls['type'].valid">
        <label>Toppings</label>
        <angular2-multiselect [data]="toppingsData" formControlName="toppings" [settings]="dropdownSettings">
        </angular2-multiselect>
      </div>

      <div formArrayName="requiredPrices">
        <div *ngFor="let price of priceForm.controls; let i=index" [formGroupName]="i">
          <div class="form-group">
            <label>Size:</label>
            <input formControlName="size" readonly class="form-control" />
            <br />
            <input placeholder="Enter price (e.g. 5.00)" formControlName="price"> {{receivedPriceCurency}}
          </div>
        </div>
        <small class="form-text text-danger"
          *ngIf="!formGroup.controls['requiredPrices'].valid && formGroup.controls['requiredPrices'].touched">
          * Typing the pizza prices is required. Plese enter valid one.
        </small>
      </div>

      <div formArrayName="lastPrice">
        <div *ngFor="let price of lastPriceForm.controls; let i=index" [formGroupName]="i">
          <div class="form-group">
            <label>Size:</label>
            <input formControlName="largeSize" readonly class="form-control" />
            <br />
            <input placeholder="Enter price (e.g. 5.00)" formControlName="largePrice"> {{receivedPriceCurency}}
          </div>
        </div>
        <small class="form-text text-muted" *ngIf="formGroup.controls['lastPrice'].touched">
          * This size is not required
        </small>
        <small class="form-text text-danger" *ngIf="!formGroup.controls['lastPrice'].valid">
          * Please enter valid price
        </small>
      </div>

      <input type="hidden" formControlName="id" />
      <input type="submit" class="btn btn-primary mt-3 form-control" value="Save pizza" [disabled]="!formGroup.valid" />
      <button class="btn btn-primary mt-3 form-control" onclick="returnHome()">Cancel</button>

    </form>
  </div>
</div>