<div class="card" style="width:18rem;">
  <img class="card-img-top" src="{{Pizza.imageUrl}}" alt="Pizza image" height="200px" width="300px">
  <div class="card-body">
    <h5 class="card-title">{{Pizza.name}}</h5>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Type: {{Pizza.type}}</li>
    <li class="list-group-item">Toppings: {{Pizza.toppings}} </li>
    <li class="list-group-item active">Option - Price per pizza</li>
    <li class="list-group-item" *ngFor="let item of Pizza.sizes; index as i">{{item}} - {{Pizza.prices[i].toFixed(2)}}
      {{Pizza.priceCurrency}} </li>
  </ul>
  <div class="card-body">
    <a href="Edit/{{Pizza.id}}" class="btn btn-primary btn-block" role="button">Edit</a>
    <button type="button" class="btn btn-danger btn-block" (click)="delete(Pizza.id)">Delete</button>
  </div>
