<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="Home">PizzaHouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="Search">Search</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="Create">Add pizza</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet> 
