<div class="container-fluid">
  <div class="row">
    <form class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">

      <div class="form-group">
        <label>Type</label>
        <select name="selectedType" [(ngModel)]="selectedType" (ngModelChange)="onTypeChange()"
          #typeAfterSelectionState="ngModel" class="form-control" required>
          <option [value]="type" *ngFor="let type of receivedAllTypes">{{ type }}</option>
        </select>
        <small class="form-text text-muted">* Selecting a pizza type is required</small>
      </div>

      <div class="form-group">
        <label>Name</label>
        <select class="form-control" name="selectedName" [(ngModel)]="selectedName">
          <option value="">All</option>
          <option [value]="pizza.name" *ngFor="let pizza of receivedPizzasByType">{{ pizza.name }}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="largeExist">
        <input type="checkbox" name="isChecked" [(ngModel)]="isChecked">Choose large size {{largeSize}}
      </div>

      <div class="form-group">
        <button [disabled]="typeAfterSelectionState.invalid" type="button" (click)="getSearchedPizzas()"
          class="btn btn-primary">Search</button>
      </div>

      <div *ngIf="noPizzasFound && !isFirstInit" class="form-group">
        <div>
          No pizzas found related to your search.
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!noPizzasFound">

  <div *ngIf="isMoreThan1">
    <div class="container-fluid mt-5">
      <div class="form-group">
        <label>Sort by price for 300gr</label>
        <select name="selectedPrice" [(ngModel)]="selectedPrice" (ngModelChange)="sortPizzas()">
          <option [value]="price" *ngFor="let price of pricesForSort">{{ price }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <app-pizza-card
      *ngFor="let Pizza of receivedPizzas |paginate: { id: 'searchPagin', itemsPerPage:4 , currentPage: pageSearch}"
      [Pizza]="Pizza" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt-3" (pizzaIdToParent)="getOutVal($event)">
    </app-pizza-card>
  </div>
  <pagination-controls id="searchPagin" (pageChange)="pageSearch = $event">
  </pagination-controls>
</div>