<div *ngIf="noPizzasFound" class="form-group">
  <div>
    No pizzas found related to your search.
  </div>
</div>

<div *ngIf="!noPizzasFound">
  <div class="container-fluid mt-5">
    <div class="row">
      <app-pizza-card
        *ngFor="let Pizza of Pizzas | paginate: { id:'homePagin', itemsPerPage: 4, currentPage: pageHome }"
        [Pizza]="Pizza" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt-3" (pizzaIdToParent)="getOutVal($event)">
      </app-pizza-card>
    </div>
    <pagination-controls id="homePagin" (pageChange)="pageHome = $event"></pagination-controls>
  </div>
</div>
